/* Schriftart von Google Fonts (Montserrat) importieren */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Allgemeine Stildefinitionen */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f0f0f0;
}

/* Styles for the App */
.App {
  text-align: center;
}

/* Styles for the buttons */
.d-flex-start {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px; /* Add margin at the bottom to create equal spacing */
}

/* Styles for the search bar */
.mt-2 {
  margin-bottom: 20px; /* Add margin at the bottom to create equal spacing */
}

/* Styles for the card container */
.row-cols-4 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Add a 10px gap between cards */
}

/* Style for each card */
.card {
  flex-basis: calc(25% - 10px); /* Subtract the gap from the width */
  box-sizing: border-box;
}

/* Styles for the buttons and input field */
.button-width {
  width: 33.33%; /* Set all buttons to the same width */
}

.search-button-width {
  width: 150px;
}

/* Add an animation for the search button */
.search-button-width:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
